.container {
  max-width: 1340px;
  padding: 0 120px;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}
header {
  background-color: #232536;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}
.nav-menu {
  display: none;
}
.nav-links {
  display: flex;
  align-items: center;
  column-gap: 32px;
}
.d1 {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.nav-link {
  color: #fff;
  opacity: 0.6000000238418579;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.5s;
}
.nav-link:hover {
  opacity: 1;
}
.nav-project {
  color: var(--secondary-orange, #ffd3af);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

body .inner {
  padding-top: 96px;
}
body .inner .section-1 .start .boxs {
  display: flex;
  justify-content: space-between;
}
body .inner .section-1 .start .boxs .left {
  width: 24px;
  height: 24px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  background: #ffd3af;
}
body .inner .section-1 .start .texts .p-1 {
  color: #232536;
  font-size: 48px;
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  width: 729px;
}
body .inner .section-1 .start .texts .p-2 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 580px;
}
body .inner .section-1 .start .texts .data {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 96px;
}
body .inner .section-1 .start .texts .data .p-0 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.87;
  padding-left: 12px;
}
body .inner .section-1 .start .texts .data .line {
  padding: 0 16px;
}
body .inner .section-1 .start .texts .data .p-2 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.87;
}
body .inner .section-1 .start .office img {
  max-width: 1067px;
}
body .inner .section-2 {
  padding-bottom: 96px;
}
body .inner .section-2 .all-texts .start {
  display: flex;
  justify-content: center;
}
body .inner .section-2 .all-texts .start .p-1 {
  color: #232536;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  width: 842px;
}
body .inner .section-2 .all-texts .start .p-2 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 836px;
}
body .inner .section-2 .all-texts .start .p-3 {
  color: #232536;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  width: 842px;
}

body .company {
  padding-top: 96px;
}
body .company .section-1 .boxs {
  display: flex;
  justify-content: space-between;
}
body .company .section-1 .boxs .left {
  width: 24px;
  height: 24px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  background: #ffd3af;
}
body .company .section-1 .award .p-1 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.87;
}
body .company .section-1 .award .p-2 {
  color: #232536;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  width: 604px;
}
body .company .section-1 .award .p-3 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.87;
  width: 579px;
}
body .company .section-1 .award .photo {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-top: 65px;
  padding-bottom: 96px;
}
body .company .section-1 .award .photo img {
  max-width: 345px;
}
body .company .section-1 .industry {
  display: flex;
  padding-bottom: 96px;
}
body .company .section-1 .industry .left {
  padding-right: 55px;
}
body .company .section-1 .industry .left .box {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-color: #666dff;
}
body .company .section-1 .industry .left .p-1 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
body .company .section-1 .industry .left .p-2 {
  color: #232536;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  width: 449px;
}
body .company .section-1 .industry .left .p-3 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 450px;
}
body .company .section-1 .industry .right {
  background: rgba(255, 211, 175, 0.57);
  padding-left: 62px;
  display: flex;
  height: 390px;
}
body .company .section-1 .industry .right .left {
  padding-top: 52px;
  padding-left: 28px;
}
body .company .section-1 .industry .right .left .p-1 {
  color: #232536;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}
body .company .section-1 .industry .right .left .img {
  display: flex;
  margin-top: -20px;
}
body .company .section-1 .industry .right .left .p-2 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  opacity: 0.87;
}
body .company .section-1 .industry .right .left .p-0 {
  padding-right: 119px;
}
body .company .section-1 .boxses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafc;
}
body .company .section-2 .boxss {
  padding-top: 96px;
}
body .company .section-2 .boxss .bg-color {
  background: #ecf8f9;
  display: flex;
  align-items: center;
  padding-top: 96px;
}
body .company .section-2 .boxss .bg-color .left {
  margin-top: -140px;
}
body .company .section-2 .boxss .bg-color .left .p-1 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.87;
}
body .company .section-2 .boxss .bg-color .left .p-2 {
  color: #232536;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  width: 552px;
  margin-top: -3px;
}
body .company .section-2 .boxss .bg-color .left .p-3 {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 552px;
}
body .company .section-2 .boxss .bg-color .right {
  padding-left: 107px;
}
body .company .section-2 .boxss .bg-color .right .card-1 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background: #444cfc;
}
body .company .section-2 .boxss .bg-color .right .card-2 {
  display: flex;
  background-color: #fff;
}
body .company .section-2 .boxss .bg-color .right .card-2 .img {
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 16px;
}
body .company .section-2 .boxss .bg-color .right .card-2 .p-1 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding-top: 12px;
}
body .company .section-2 .boxss .bg-color .right .card-2 .p-2 {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: -10px;
  width: 303px;
}
body .company .section-2 .boxss .bg-color .right .lok {
  padding-bottom: 12px;
}
body .company .section-2 .boxss .bg-color .right .lok .line {
  padding-bottom: 96px;
  max-width: 400px;
}
body .company .section-3 .vision {
  padding-top: 96px;
}
body .company .section-3 .vision .p-1 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.87;
}
body .company .section-3 .vision .p-2 {
  color: #232536;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  width: 622px;
}
body .company .section-3 .vision .p-3 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  width: 622px;
}
body .company .section-3 .vision img {
  max-width: 1060px;
}
body .company .section-3 .meet {
  padding-top: 96px;
}
body .company .section-3 .meet .p-1 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
body .company .section-3 .meet .p-2 {
  color: #232536;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  margin-top: -2px;
  max-width: 450px;
}
body .company .section-3 .meet .p-3 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 400px;
  margin-top: -20px;
}
body .company .section-3 .meet .allphotos .first {
  display: flex;
}
body .company .section-3 .meet .allphotos .first img {
  max-width: 265px;
} /*# sourceMappingURL=style.css.map */
.footer-content {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
}
.d36 {
  display: flex;
  align-items: center;
  column-gap: 204px;
}
.footer-extra-img {
  position: absolute;
  top: 0%;
  left: 2%;
}
.p38 {
  padding-top: 32px;
  max-width: 452px;
  color: #232536;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
}
.p39 {
  color: #232536;
  padding-top: 28px;
  padding-bottom: 18px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}
.p40 {
  color: #232536;
  padding-bottom: 4px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
#p40 {
  padding-bottom: 14px;
}
.p41 {
  color: #232536;
  padding-top: 16px;
  max-width: 206px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.d35 {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.d34 {
  display: flex;
  column-gap: 61px;
}
.a2 {
  color: #232536;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.a3 {
  color: #232536;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.d39 {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.d38 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 95px;
}
.p43 {
  color: #232536;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.footer-bottom {
  background: #ffe6d2;
  padding-top: 28px;
  padding-bottom: 28px;
}
.footer-bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p44 {
  color: #000;
  padding-top: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.d42 {
  display: flex;
  align-items: center;
  column-gap: 42px;
}
.d41 {
  display: flex;
  align-items: center;
  column-gap: 26px;
}
@media (max-width: 1140px) {
  .d36 {
    column-gap: 0px;
    justify-content: space-between;
  }
}
@media (max-width: 970px) {
  .d36 {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 850px) {
  .nav-links {
    display: none;
  }
  .nav-menu {
    display: block;
  }
}
